*,
*:before,
*:after {
	box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container{
	width:86%;
	max-width: 1440px;
	margin: 0 auto;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 500;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #585089;
}

.menu{
    display:inline-flex ;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 59px;
}

.m_item{
    margin-right: 75px;
    padding-left: 10px;
    padding-right: 10px;
}

.first_block{
    background-image: url(../img/bg.jpg);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}


.first_block_name{
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    margin-top: 300px;
    margin-bottom: 75px;
    color: #fff;
}

.aboutus_title{
    text-align: center;
    text-transform: uppercase;
    color: #585089;
    padding-bottom: 20px;
    font-size: 64px;
    font-weight: 600;
}

.aboutusitem_text{
    font-size: 32px;
    width: 500px;
    font-weight: 500;
    }

.aboutusitem{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aboutus_row{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom:100px
}

.aboutus{
    padding-top: 100px;
}

.aboutus_title2{
    text-align: center;
    text-transform: uppercase;
    color: #585089;
    font-size: 48px;
    font-weight: 500;
}

/* */

.clients_logos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 100px;
}

.clients_logos_row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 70px;
}


/* */

.picture1{
    background-image:url(../img/bg1.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    width:  100%;
    height: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}

.picture_text{
    padding-left: 100px;
    padding-right: 100px;
}
.picture_name{
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 36px;
    width: 572px;
    font-weight: 600;
    margin-bottom: 25px;
}
.picture_notice{
    font-size: 24px;
    width: 572px;
    font-weight: 600;
    margin-bottom: 25px;
}

.kek{
background-color: #6D62A9
}

.services_title{
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding: 50px;
    font-size: 64px;
    font-weight: 600;
}

.button{
    color: #6D62A9;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    margin: 4px 2px;
    border: 5px solid #6D62A9;
    border-radius: 89px;
}

.picture2{
    background-image:url(../img/bg2.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    width:  100%;
    height: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
}

.picture_name2{
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 36px;
    width: 500px;
    font-weight: 600;
    margin-bottom: 25px;
}

.button2{
    color: #fff;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    margin: 4px 2px;
    border: 5px solid #fff;
    border-radius: 89px;
    margin-left: 240px;
}

.picture3{
    background-image:url(../img/bg3.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    width:  100%;
    height: 750px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    margin-top: -70px;
    padding-top: 100px;
}

.picture_notice2{
    font-size: 24px;
    width: 485px;
    font-weight: 600;
    margin-bottom: 25px;
}

.picture_notice3{
    font-size: 24px;
    width: 405px;
    font-weight: 600;
    margin-bottom: 25px;
}

.footer{
    padding: 60px 100px 60px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #6D62A9;

}

.footer_icons img {
    padding-right: 20px;
    height: 35px;
    weight: 35px;
    margin-bottom: 20px;
}

.footer_text{
    color: white;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;

}

.footer_text_mini{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: white;
    margin-bottom: 20px;
}

.footer_lefy{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}